<header>
  <div class="header-logo">
    <img src="/assets/frauscher-icon.svg" style="max-height: 35px" alt="Frauscher Logo" height="20" width="49" />
    <div class="fds-station">Yard Automation -
    <span class="sub-text"> Blind Push Solution</span></div>
  </div>
  <div class="digital-clock">
    <span class="digital-clock-time">{{ now() | date: 'HH:mm:ss' }}</span>
    <span class="digital-clock-date">{{ now() | date: 'yyyy-MM-dd' }}</span>
  </div>
  <div class="audio-icon">
    <i class="pi pi-volume-up"></i>
  </div>
</header>
